.App {
  text-align: center;
}

#itemcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#itembox {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid rgb(111, 111, 111);
  border-radius: 5px;
  margin: 3px;
  background-color: rgba(62, 62, 113, 0.332);
  text-align: center;
}

#headercontainer {
  height: 100px;
  margin-bottom: 10px;
  border: 2px solid grey;
  background-color: rgba(38, 38, 38, 0.521);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
